<html>

<head>
    <script src="/assert/javascript/vue.js"></script>
    <script src="/assert/javascript/axios.min.js"></script>
    <script src="/assert/javascript/articlelist.js"></script>
    <script src="/assert/javascript/article.js"></script>
    <link rel="stylesheet" type="text/css" href="/assert/style/article.css" />
</head>

<body>
    <div id="sidebar">
        <article-list></article-list>
    </div>
    <script>
        var obj_article_list=(new Vue({
            el:"#sidebar"
        })).$children[0];
    </script>
    <div id="article">
        <article></article>
    </div>
    <script>
        var article = (new Vue({ el: "#articles" })).$children[0];
    </script>
</body>

</html>