<html>

<head>
    <script src="/assert/javascript/tinymce/tinymce.min.js"></script>
    <script src="/assert/javascript/axios.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            theme_advanced_resizing: false,
        });
    </script>
    <style>
        #title {
            width: 80%;
            height: 50px;
            font-size: 40px;
        }
    </style>
</head>

<body onload="init()">
    <div style="font-size:40px">文章标题--
        <input id="title" type="text">
    </div>
    <br>
    <br>
    <textarea class="editarea">
                Hello,lixiaomeng!
        </textarea>
    <input id="commit_article" type="button" onclick="dosubmit()" value="提交文章">
    <script>
        axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';

        let obj_title = document.getElementById("title");
        var rawid = (window.location.href).split("/").pop();
        var currentid = parseInt(rawid)
        var articletoken = null;
        var self = this;
        // 获取文章的token
        function init() {
            if (Number.isInteger(currentid)) {
                axios.get("http://127.0.0.1:8080/article/gettoken?articleid=" + currentid).then(function (response) {
                    obj_res = response.data;
                    if (obj_res.errno == 0) {
                        self.articletoken = obj_res.data;
                    }
                }).catch(function (err) {
                    console.log(err);
                })
            }
            console.log(tinyMCE.activeEditor.getContent())
            //获取文章内容
            if (Number.isInteger(currentid)) {
                axios.get("http://127.0.0.1:8080/article/" + currentid).then(function (response) {
                    let data = response.data.data;
                    console.log(data);
                    obj_title.value = data.title;
                    console.log(typeof (data.content));
                    console.log(tinyMCE.activeEditor.getContent())
                    tinyMCE.activeEditor.setContent(data.content)
                }).catch(function (err) {
                    console.log(err);
                })
            }
        }

        btn_submit = document.getElementById("commit_article")
        //提交文章
        function dosubmit() {
            var obj_title = document.getElementById("title");
            var content = tinyMCE.activeEditor.getContent();
            let param = new URLSearchParams();
            param.append("r_articleid", currentid);
            param.append("r_articletoken", articletoken);
            param.append("r_content", content);
            axios.post("http://127.0.0.1:8080/article/update", param).then(function (response) {
                // if(response.body)
                if (response.data.errno != 0) {
                    window.location.href = "http://127.0.0.1:8080/view/login";
                } else {
                    console.log("currentid=",currentid)
                    window.location.href = "http://127.0.0.1:8080/view/article/" + currentid;
                }
            }).catch(function (err) {
                console.log(err);
            })

        }
    </script>
</body>

</html>